<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Techtonic - Technology Event</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mainstyle.css') }}">
</head>
<body>

    <!-- Navigation Bar -->
    <nav>
        <div class="logo">Techtonic</div>
        <ul>
            <li><a href="#about">About</a></li>
            <li><a href="#schedule">Schedule</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#Register">Register</a></li>
        </ul>
    </nav>

    <!-- Hero Section -->
     <div class="C_name">
        <section id="Register">
        <h2>Register</h2>
        <form action="/registerazp" method="POST" id="Registration-form">
            <div>
                <label>Name1: (Required)</label>
                <input type="text" name="Name1" />
            </div>
            <div>
                <label>Name2: (Required)</label>
                <input type="text" name="Name2" />
            </div>
            <div>
                <label>Name3: (Optional)</label>
                <input type="text" name="Name3" />
            </div>
            <div>
                <label>Name4: (Optional)</label>
                <input type="text" name="Name4" />
            </div>
            <div>
                <label>Name5: (Optional)</label>
                <input type="text" name="Name5" />
            </div>
            <div>
                <label>Email ID: (Required)</label>
                <input type="text" name="mailid" />
            </div>
            <div>
                <label>Department: (Required)</label>
                <input type="text" name="Dept"/>
            </div>
            <div>
                <label>College: (Required)</label>
                <input type="text" name="Clg" id="Clg"/>
            </div>
            <div>
                <label>Event:</label>
                <select name="Event" id="Events">
                    <option value="Ad zap (Brand Blitz)">Ad zap (Brand Blitz)</option>
                </select>
            </div>
            <div>
                <input type="submit" >
            </div>
        </form>
    </section>
     </div>

    <!-- Footer -->
    <footer>
        &copy; 2025 Department of Computer Science
    </footer>

</body>
</html>
